:root {
  background-image: linear-gradient(#000000, #ff0000) !important;
  -webkit-tap-highlight-color: transparent !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  text-decoration: none !important;
  text-align: center !important;
  font-size: 1em !important;
  padding: 0 !important;
  margin: 0 !important;
}
html,
body {
  padding: inherit !important;
  margin: inherit !important;
}
img {
  border-radius: 100vh !important;
}
h1 {
  font-size: inherit !important;
  color: #ff0000 !important;
}
p {
  padding: 0.6250em !important;
  margin: 0.6250em !important;
}
a {
  text-decoration: inherit !important;
}
nav {
  position: relative !important;
  text-align: right !important;
  overflow: hidden !important;
}
nav img {
  position: absolute !important;
  left: 0.3125em !important;
  display: block !important;
  top: 0.3125em !important;
  margin: auto !important;
}
nav #Links {
  text-align: center !important;
  display: none;
}
nav a {
  border-radius: 0.9375em !important;
  padding: 0.8750em 1em !important;
  text-decoration: none !important;
  display: block !important;
}
nav a:hover {
  background-color: #ff0000 !important;
  color: #ffffff !important;
}
section img {
  margin: 1.2500em !important;
}
section a:hover {
  color: #ff0000 !important;
}
section,
footer {
  border-radius: 1.5625em !important;
  padding: 0.6250em !important;
  margin: 0.6250em !important;
}
@media (orientation: landscape) {
  nav a {
    display: inline-block !important;
  }
}
@media (prefers-color-scheme: light) {
  nav a,
  p,
  section a {
    color: #000000 !important;
  }
  nav {
    border-bottom: 0.125em solid #000000 !important;
  }
  img,
  section,
  footer {
    border: 0.125em solid #000000 !important;
  }
  nav,
  section,
  footer {
    background-color: #ffffff !important;
  }
}
@media (prefers-color-scheme: dark) {
  nav a,
  p,
  section a {
    color: #ffffff !important;
  }
  nav {
    border-bottom: 0.125em solid #ffffff !important;
  }
  nav a:hover {
    border-block: 0.125em solid #ffffff !important;
  }
  img,
  section,
  footer {
    border: 0.125em solid #ffffff !important;
  }
  nav,
  section,
  footer {
    background-color: #000000 !important;
  }
}