:root {
  background-image: linear-gradient(#000,red)!important;
  -webkit-tap-highlight-color: transparent!important;
  background-attachment: fixed!important;
  background-repeat: no-repeat!important;
  text-decoration: none!important;
  text-align: center!important;
  font-size: 1em!important;
  padding: 0!important;
  margin: 0!important
}
html,body {
  padding: inherit!important;
  margin: inherit!important
}
img {
  border-radius: 100vh!important
}
h1 {
  font-size: inherit!important;
  color: red!important
}
p {
  padding: .625em!important;
  margin: .625em!important
}
a {
  text-decoration: inherit!important
}
nav {
  position: relative!important;
  text-align: right!important;
  overflow: hidden!important
}
nav img {
  position: absolute!important;
  left: .3125em!important;
  display: block!important;
  top: .3125em!important;
  margin: auto!important
}
nav #Links {
  text-align: center!important;
  display: none
}
nav a {
  border-radius: .9375em!important;
  padding: .875em 1em!important;
  text-decoration: none!important;
  display: block!important
}
nav a:hover {
  background-color: red!important;
  color: #fff!important
}
section img {
  margin: 1.25em!important
}
section a:hover {
  color: red!important
}
section,footer {
  border-radius: 1.5625em!important;
  padding: .625em!important;
  margin: .625em!important
}
@media (orientation:landscape) {
  nav a {
    display: inline-block!important
  }
}
@media (prefers-color-scheme:light) {
  nav a,p,section a {
    color: #000!important
  }
  nav {
    border-bottom: .125em solid #000!important
  }
  footer,img,section {
    border: .125em solid #000!important
  }
  footer,nav,section {
    background-color: #fff!important
  }
}
@media (prefers-color-scheme:dark) {
  nav a,p,section a {
    color: #fff!important
  }
  nav {
    border-bottom: .125em solid #fff!important
  }
  nav a:hover {
    border-block: 0.125em solid #ffffff!important
  }
  footer,img,section {
    border: .125em solid #fff!important
  }
  footer,nav,section {
    background-color: #000!important
  }
}